// 页面过渡左滑
.slide-left-enter-active{
  transition: all 0.3s ease;
}
// .slide-left-leave-active  {
//   transition: all 0.3s ease;
// }


.slide-left-enter {
  transform: translateX(100%);
}

.slide-left-enter-to {
  transform: translateX(0);
}

.slide-left-leave {
  transform: translateX(0);
}


.slide-left-leave-to {
  transform: translateX(-100%);
}


// 页面过渡右滑
.slide-right-enter-active {
  transition: all .2s ease;
}


.slide-right-enter {
  transform: translateX(-100%);
}

.slide-right-enter-to {
  transform: translateX(0);
}

.slide-right-leave {
  transform: translateX(0);
}


.slide-right-leave-to {
  transform: translateX(100%);
}